<ifModule mod_headers.c>
  Header set Link "<index.css>;rel=preload;as=style"
  Header set Link "<index.js>;rel=preload;as=script"
  Header set Link "<_file_extension_to_mime_type.js>;rel=preload;as=script"
  Header set Link "<worker.js>;rel=preload;as=worker"
</ifModule>
